
{% extends "store/base.html" %}

{% block navigator %}


  	<nav class="navbar navbar-fixed-top navbar-inverse">
  	<div class="container">
  	<div class = "navbar-header">
  	<button type = "button" class = "navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
  	 aria-expanded ="false" aria-controls="navbar">
  	 <span class="sr-only">Toggle navigation</span>
  	 <span class="icon-bar"></span>
  	 <span class="icon-bar"></span>
  	 <span class="icon-bar"></span>
  	 </button>
  	 <a class = "navbar-brand" href="#">Store/logo?</a>
  	 </div>
  	 <div id = "navbar" class = "collapse navbar-collapse">
  	 <ul class = "nav navbar-nav">
  	 	<li class ="active"><a href="{% url 'store:products' %">Home</a></li>
  	 	<li ><a href="/store/products">Settings</a></li>
  	 	<li ><a href="{% url 'store:details' %}">Profile</a></li>
  	 
  	 </ul>
  	  <div class="user-credentials">
  	 	<p></p>
  	 	<a href = "#">LogIn</a>
  	 </div>
  	 </div>
  	 </div>
</nav>

{% endblock %}